{
    "cris_account": {
        "account1": {
            "username": "username1",
            "password": "password1",
        },
        ...
    },
    "cris_base_url": {
        "prod": "https://example.com",
        "local": "localhost:8000",
        ...
    },
    "cris_env": "prod",
    "cris_skip": {
        "check": false,
        ...
    }
}
