<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        {% include 'main/navbar.html' %}

        <div>
            {% if user.is_authenticated%}
                <div class="box box-edit">
                    <h1 class="title is-4">Modifier votre mot de passe</h1>
                    <p class="h1">Votre mot de passe a été modifier avec succès !</p>
                </div>
            {% else %}
                <div class="box box-edit">
                    <h1 class="title is-4">Modifier votre mot de passe</h1>
                    <p class="text-center">Vous devez être connecté pour modifier votre mot de passe ! <a href="/login">Connexion</a></p>
                </div>
            {% endif %}
        </div>

        {% include 'main/footer.html' %}
    </body>
</html>