<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        {% include 'main/navbar.html' %}

        <div class="notification is-warning">
            <p>
                <i class="fas fa-exclamation-triangle"></i>
                Votre nouveau mot de passe ne doit pas être trop similaire à vos informations personnelles.
                Il doit contenir au moins 8 caractères.
                Il ne doit pas être trop commun.
                Il ne peut pas être uniquement numérique.
            </p>
        </div>

        <div class="notification is-danger">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        <form class="box" method="post">
            <h1 class="title is-4">Modifier votre mot de passe</h1>
            {% csrf_token %}
            <div class="label-login">
                <label>Ancien mot de passe : </label> {{ form.old_password }}
            </div>
            <div class="label-login">
                <label>Nouveau mot de passe : </label> {{ form.new_password1 }}
            </div>
            <div class="label-login">
                <label>Confirmer le nouveau mot de passe : </label> {{ form.new_password2 }}
            </div>

            
            <button class="button is-primary" type="submit">Connexion</button>
        </form>

        {% include 'main/footer.html' %}
    </body>
</html>