<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        
        {% include 'main/navbar.html' %}

        <section>

            <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                <ul>
                    <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
                    <li><a class="link-one" href="{{ path_url.0 }}">{{ path_name.0 }}</a></li>
                    <li><a class="link-one" href="{{ path_url.1 }}">{{ path_name.1 }}</a></li>
                    <li><a class="link-one" href="{{ path_url.2 }}">{{ path_name.2 }}</a></li>
                    <li class="is-active"><a href="{{ path_url.3 }}" aria-current="page">{{ path_name.3 }}</a></li>
                </ul>
            </nav>

            <h1 class="title is-4">Ajouter un bailleur de fonds</h1>

            <div id="funders" class="select is-fullwidth">
                <select id="funders" name="funders" form="funderform">
                    <option value=""></option>
                    {% for funder in funders %}
                        <option value="{{ funder.0 }}">{{ funder.1 }} ({{ funder.2 }})</option>
                    {% endfor %}
                </select>
            </div>

            <form action="{{ url_to_return }}" method="post" id="funderform">
                {% csrf_token %}
                <input class="button is-primary" type="submit" value="{{ button_value }}">
            </form>
        </section>
        {% include 'main/footer.html' %}
    </body>

</html>