.DS_Store
env/
fuseki/run/databases/
fuseki/run/configuration/
fuseki/run/system_files/
fuseki/dataset/
fuseki/run/backups/
INCIPIT_CRIS/**/__pycache__/
INCIPIT_CRIS/**/migrations/
fuseki/run/system/tdb.lock
media/
docker-compose.override.yml
fuseki/fuseki.log
INCIPIT-CRIS_launcher_local.sh