appdirs==1.4.4
asgiref==3.3.1
cfgv==3.2.0
distlib==0.3.1
Django==3.1.7
filelock==3.0.12
identify==2.2.2
isodate==0.6.0
mysqlclient==2.0.3
nodeenv==1.5.0
pre-commit==2.11.1
pytz==2021.1
rdflib==5.0.0
SPARQLWrapper==1.8.5
sqlparse==0.4.1
toml==0.10.2
