<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/project.css' %}">
    </head>
    <body>

        {% include 'main/navbar.html' %}

        <section>
            {% block breadcrumb %}
                <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                    <ul>
                        <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
                        <li><a class="link-one" href="/projects/">Projets</a></li>
                        <li class="is-active"><a href="/projects/{{ data_project.pid }}" aria-current="page">Profil</a></li>
                    </ul>
                </nav>
            {% endblock %}

            {% block information %}
            {% endblock %}
            {% block project_information %}
                <p>
                    {% if user.is_authenticated and edition_granted or user.is_superuser %}
                        <a class="button is-primary" href="/projects/edition/{{ data_project.pid }}">Modifier</a>
                    {% endif %}
                </p>
                <p class="title is-4" align="justify">
                    {{ data_project.name }} 
                </p>
                <p class="subtitle is-6" align="justify">{{ data_project.description }}</p>
                <p><time datetime="{{ data_project.founding_date }}">Date de début : {{ data_project.founding_date }}</time></p>
                <p><time datetime="{{ data_project.dissolution_date }}">Date de fin : {{ data_project.dissolution_date }}</time></p>
                <p>URL : <a class="link-one" href="{{ data_project.url }}">{{ data_project.url }}</a></p>
                <p>Membre(s) : </p>
                {% for member in data_project.members %}
                    <p>
                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a> 
                    </p>
                {% endfor %}
                <p>Article(s) : </p>
                {% for article in data_project.articles %}
                    <p>
                        <a class="link-one" href="/articles/{{ article.0 }}">{{ article.1.name }}</a> 
                    </p>
                {% endfor %}
                <p>Jeu(x) de données : </p>
                {% for dataset in data_project.datasets %}
                    <p>
                        <a class="link-one" href="/datasets/{{ dataset.0 }}">{{ dataset.1.name }}</a> 
                    </p>
                {% endfor %}
            {% endblock %}

        </section>
        {% include 'main/footer.html' %}
    </body>
</html>