{% extends "project/project_profile.html" %}

{% block information %}
    {{ message }}
{% endblock %}


{% block project_information %}

    <a class="button is-primary" href="/projects/{{ data_project.pid }}">Voir le projet</a>

    <form action="/projects/edition/delete-project/{{data_project.pid}}" method="post">
        {% csrf_token %}
        <input type="hidden" id="projectARK" name="projectARK" value="{{ data_project.pid }}">
        <input class="shift-button button is-danger" type="submit" value="Supprimer">
    </form>

    <p class="title is-4" align="justify">
        {{ data_project.name }} <a class="link-one is-size-6" href="/projects/edition/field/name/{{data_project.pid}}"> Modifer</a>
    </p>

    <p class="subtitle is-6" align="justify">
        {% if data_project.description == "" %}
            <a class="link-one" href="/projects/edition/field/description/{{data_project.pid}}"> Ajouter un abstract</a>
        {% else %}
            {{ data_project.description }}
            <a class="link-one" href="/projects/edition/field/description/{{data_project.pid}}"> Modifier</a>
        {% endif %}
    </p>

    <p><time datetime="{{ data_project.founding_date }}">Date de début : {{ data_project.founding_date }}</time> <a class="link-one" href="/projects/edition/field/foundingDate/{{data_project.pid}}"> Modifer</a></p>
    <p><time datetime="{{ data_project.dissolution_date }}">Date de fin : {{ data_project.dissolution_date }}</time> <a class="link-one" href="/projects/edition/field/dissolutionDate/{{data_project.pid}}"> Modifer</a></p>
    
    <p>URL : <a class="link-one" href="{{ data_project.url }}"> {{ data_project.url }}</a> <a class="link-one" href="/projects/edition/field/url/{{data_project.pid}}"> Modifier</a></p>

    <p>Membre(s) : <a class="link-one" href="/projects/edition/field/add-member/{{data_project.pid}}"> Ajouter</a> </p>
    {% for member in data_project.members %}
        <p>
            <form action="/projects/edition/field/delete-member/{{data_project.pid}}" method="post">
                {% csrf_token %}
                <input type="hidden" id="memberARK" name="memberARK" value="{{ member.0 }}">
                <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>
                <button class="delete"></button>
            </form>
        </p>
    {% endfor %}

    <p>Article(s) : <a class="link-one" href="/projects/edition/field/add-article/{{data_project.pid}}"> Ajouter</a></p>
    {% for article in data_project.articles %}
        <p>
            <form action="/projects/edition/field/delete-article/{{data_project.pid}}" method="post">
                {% csrf_token %}
                <input type="hidden" id="articleARK" name="articleARK" value="{{ article.0 }}">
                <a class="link-one" href="/articles/{{ article.0 }}">{{ article.1.name }}</a>
                <button class="delete"></button>
            </form>
        </p>
    {% endfor %}

    <p>Jeu(x) de données : <a class="link-one" href="/projects/edition/field/add-dataset/{{data_project.pid}}"> Ajouter</a></p>
    {% for dataset in data_project.datasets %}
        <p>
            <form action="/projects/edition/field/delete-dataset/{{data_project.pid}}" method="post">
                {% csrf_token %}
                <input type="hidden" id="datasetARK" name="datasetARK" value="{{ dataset.0 }}">
                <a class="link-one" href="/datasets/{{ dataset.0 }}">{{ dataset.1.name }}</a>
                <button class="delete"></button>
            </form>
        </p>
    {% endfor %}

{% endblock %}