{% extends "institution/institution_profile.html" %}

{% load static %}

{% block breadcrumb %}
    <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
        <ul>
            <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
            <li><a class="link-one" href="/institutions/">Institutions</a></li>
            <li><a class="link-one" href="/institutions/{{ data_institution.pid }}">Profil</a></li>
            <li class="is-active"><a href="/institutions/{{ data_institution.pid }}/edition" aria-current="page">Edition</a></li>
        </ul>
    </nav>
{% endblock %}

{% block information %}
    {{ message }}
{% endblock %}


{% block information_header %}

    <div class="column logo">
        <figure class="figure">
            <img src=
            {% if data_institution.logo == '' %}
                "{% static 'images/university-solid.png' %}"
            {% else %}
                "{{ data_institution.logo }}"
            {% endif %}
            width="250" height="250">
        </figure>
        <a class="edit-institution link-one is-size-6" href="/institutions/edition/field/logo/{{data_institution.pid}}"><i class="fas fa-edit"></i></a>
    </div>

    <div class="column">
        <p class="title is-4" align="justify">
            {{ data_institution.name }} <a class="link-one is-size-6" href="/institutions/edition/field/name/{{data_institution.pid}}"><i class="fas fa-edit"></i></a>
            (
            {% if data_institution.alternate_name == "" %}
                <a class="link-one" href="/institutions/edition/field/alternateName/{{data_institution.pid}}"> Ajouter un nom alternatif</a>
            {% else %}
                {{ data_institution.alternate_name }} <a class="link-one is-size-6" href="/institutions/edition/field/alternateName/{{data_institution.pid}}"><i class="fas fa-edit"></i></a>
            {% endif %}
            )
        </p>

        <p class="subtitle is-6" align="justify">
            {% if data_institution.description == "" %}
                <a class="link-one" href="/institutions/edition/field/description/{{data_institution.pid}}"> Ajouter une description</a>
            {% else %}
                {{ data_institution.description }}
                <a class="link-one" href="/institutions/edition/field/description/{{data_institution.pid}}"><i class="fas fa-edit"></i></a>
            {% endif %}
        </p>
    </div>

    <div class="column">
        <div class="columns is-gapless is-multiline">
            <div class="column shift">
                <a class="button is-primary" href="/institutions/{{ data_institution.pid }}">Voir l'institution</a>
            </div>

            <div class="column shift">
                <form action="/institutions/edition/update-institution/{{data_institution.pid}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="institutionARK" name="institutionARK" value="{{ data_institution.pid }}">
                    <input class="button is-warning" type="submit" value="Mettre à jour">
                </form>
            </div>

            <div class="column">
                <form action="/institutions/edition/delete-institution/{{data_institution.pid}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="institutionARK" name="institutionARK" value="{{ data_institution.pid }}">
                    <input class="button is-danger" type="submit" value="Supprimer">
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block apropos %}
    <p>Nom : {{ data_institution.name }} <a class="link-one is-size-6" href="/institutions/edition/field/name/{{data_institution.pid}}"><i class="fas fa-edit"></i></a></p>
    <p>Nom alternatif : {{ data_institution.alternate_name }} <a class="link-one is-size-6" href="/institutions/edition/field/alternateName/{{data_institution.pid}}"><i class="fas fa-edit"></i></a></p>
    <p>Description : {{ data_institution.description }} <a class="link-one" href="/institutions/edition/field/description/{{data_institution.pid}}"><i class="fas fa-edit"></i></a></p>
    <p>Lien vers l'institution : {{ data_institution.url }} <a class="edit-institution link-one is-size-6" href="/institutions/edition/field/url/{{data_institution.pid}}"><i class="fas fa-edit"></i></a></p>
    <p>Date de fondation : {{ data_institution.founding_date }}</p>
    <p>Organisations parente :
        {% for organistion in data_institution.parent_organizations %}
            <p>
                <a class="link-one" href="/institutions/{{ organistion.0 }}">{{ organistion.1.name }}</a>
            </p>
        {% endfor %}
    </p>
    <p>Sous-organisations : 
        {% for organistion in data_institution.sub_organizations %}
            <p>
                <a class="link-one" href="/institutions/{{ organistion.0 }}">{{ organistion.1.name }}</a>
            </p>
        {% endfor %}
    </p>
{% endblock %}
