<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/person_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>

        {% include 'main/navbar.html' %}

        <section>
            {% block breadcrumb %}
                <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                    <ul>
                        <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
                        <li><a class="link-one" href="/institutions/">Insitutions</a></li>
                        <li class="is-active"><a href="/institutions/{{ data_institution.pid }}" aria-current="page">Profil</a></li>
                    </ul>
                </nav>
            {% endblock %}

            {% block information %}
            {% endblock %}

            <div class="parallax">
               <section class="header">
                  <figure class="figure ml-5 mb-2">
                      <img src=
                      {% if data_institution.logo == '' %}
                          "{% static 'images/university-solid.png' %}"
                      {% else %}
                          "{{ data_institution.logo }}"
                      {% endif %}
                      width="250" height="250">
                  </figure>
               </section>
            </div>

            <section class="box top-box">
               <div class="columns">
                  {% block button_navigation %}
                  {% if can_edit %}
                  <a class="link-one right-align little-space-above" href="/institutions/edition/{{ data_institution.pid }}"><i class="fas fa-pen"></i></a>
                  {% endif %}
                  {% endblock %}

                  <div class="column">
                     {% block institution_information %}
                     <p class="title is-4 name">{{ data_institution.name }}
                     {% if data_institution.alternate_name != '' %}
                         ({{ data_institution.alternate_name }})
                     {% endif %}</p>
                     <p style="visibility: hidden"></p>
                     {% endblock %}
                  </div>

                  <div class="column is-one-third header">
                     {% for work in data_institution.institutions %}
                     <div class="align-image-text">
                        <figure class="image is-48x48">
                           <img src=
                           {% if work.logo == '' %}
                           "{% static 'images/university-solid.png' %}"
                           {% else %}
                           "{{ work.logo }}"
                           {% endif %}
                           >
                        </figure>
                        <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </section>

            <div class="columns is-mobile has-text-centered stats">
               <a href="#Workers" id="workersStats" name="workersStats" class="column column-left-align">
                  <article class="box">
                     <p class="title">{{ data_institution.len_workers }}</p>
                     <p class="heading">Employés</p>
                  </article>
               </a>
               <a href="#Affiliates" id="affiliatesStats" name="affiliatesStats" class="column">
                  <article class="box">
                     <p class="title">{{ data_institution.len_affiliates}}</p>
                     <p class="heading">Affiliés</p>
                  </article>
               </a>
               <a href="#Articles" id="articlesStats" name="articlesStats" class="column">
                  <article class="box">
                     <p class="title">{{ data_institution.len_articles }}</p>
                     <p class="heading">Articles</p>
                  </article>
               </a>
               <a href="#Projects" id="projectsStats" name="projectsStats" class="column">
                  <article class="box">
                     <p class="title">{{ data_institution.len_projects }}</p>
                     <p class="heading">Projets</p>
                  </article>
               </a>
               <a href="#Projects" id="datasetsStats" name="datasetsStats" class="column column-right-align">
                  <article class="box">
                     <p class="title">{{ data_institution.len_datasets }}</p>
                     <p class="heading">Données</p>
                  </article>
               </a>
            </div>

            <section class="data-box btn-see-more box">
               <p class="title is-5">A propos</p>
               {% block institution_description %}
                  <div class="separator">Description</div>
                  <p class="justified">{{ data_institution.description }}</p>
               {% endblock %}

               <span id="more">

                  <div class="separator">Informations</div>

                  {% block institution_informations %}
                  <div class="columns is-multiline">
                     <div class="column keep-it-inline-parent">
                        <p class="keep-it-inline">Nom : {{ data_institution.name }}</p>
                     </div>
                     <div class="column keep-it-inline-parent">
                        <p class="keep-it-inline-parent">Nom alternatif: {{ data_institution.alternate_name }}</p>
                     </div>
                  </div>
                  <div class="columns is-multiline">
                     <div class="column keep-it-inline-parent">
                        <p class="keep-it-inline">Date de fondation : <time datetime="{{ data_institution.founding_date }}">{{ data_institution.founding_date }}</time></p>
                     </div>
                     <div class="column class="keep-it-inline" keep-it-inline-parent">
                        <p class="keep-it-inline">Lien vers l'institution : <a class="link-one url" href="{{ data_institution.url }}">{{ data_institution.url }}</a></p>
                     </div>
                  </div>
                  <div class="columns is-multiline">
                     <div class="column keep-it-inline-parent">
                        <p class="keep-it-inline">Bailleur de fonds : <i class="fas {% if data_institution.funder == True%}fa-pen{% else %}fa-times{% endif %}"></i>
                        </p>
                     </div>
                  </div>
                  {% endblock %}

                  <div class="separator">Institutions</div>

                  <div class="columns">
                     <div class="column">
                        {% block institution_institutions %}
                        <p class="subtitle is-6">Institutions parentes :</p>
                        {% for work in data_institution.parent_organizations %}
                        <div class="align-image-text">
                           <figure class="image is-48x48">
                              <img src=
                              {% if work.logo == '' %}
                              "{% static 'images/university-solid.png' %}"
                              {% else %}
                              "{{ work.logo }}"
                              {% endif %}
                              >
                           </figure>
                           <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                        </div>
                        {% endfor %}
                        {% endblock %}
                     </div>
                     <div class="column">
                        {% block institution_subinstitutions %}
                        <p class="subtitle is-6">Sous-institutions :</p>
                        {% for work in data_institution.sub_organizations %}
                        <div class="align-image-text">
                           <figure class="image is-48x48">
                              <img src=
                              {% if work.logo == '' %}
                              "{% static 'images/university-solid.png' %}"
                              {% else %}
                              "{{ work.logo }}"
                              {% endif %}
                              >
                           </figure>
                           <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                        </div>
                        {% endfor %}
                        {% endblock %}
                     </div>
                  </div>

               </span>

               <a onclick="displayMore('more', 'myBtn-div')" class="myBtn" id="myBtn">
                  <div class="title is-6 myBtn-div" id="myBtn-div">
                     Voir plus
                  </div>
               </a>
            </section>

            <a class="workers" id="Workers"></a>

            <section class="data-box btn-see-more box">
               {% block institution_workers %}
               <p class="title is-5">Employés</p>

               {% if data_institution.len_workers == 0 %}
                  <p>Il n'y a pas encore d'employés associés</p>
               {% endif %}

               {% for member in data_institution.workers %}

               <div>
                  <a class="link-one title is-6" href="/persons/{{ member.pid }}">{{ member.given_name }} {{ member.family_name }}</a>
                  <a class="link-one" href="{{ member.url }}"><i class="fas fa-external-link-alt"></i></a>
                  <p class="justified little-space-below">{{ member.1.description }}</p>
               </div>

               {% if forloop.first %}
               <span id="more-worker">
                  {% endif %}

                  {% if forloop.last %}
               </span>
               {% else %}
               <hr>
               {% endif %}
               {% endfor %}
               {% endblock %}

               {% if data_institution.len_workers > 1 %}
                  <a onclick="displayMore('more-worker', 'myBtn-div-worker')" class="myBtn" id="myBtn">
                     <div class="title is-6 myBtn-div" id="myBtn-div-worker">
                        Voir plus
                     </div>
                  </a>
               {% endif %}
            </section>

            <a class="affiliates" id="Affiliates"></a>

            <section class="data-box btn-see-more box">
               {% block institution_affiliates %}
               <p class="title is-5">Affiliés</p>

               {% if data_institution.len_affiliates == 0 %}
                  <p>Il n'y a pas encore d'affiliés associés</p>
               {% endif %}

               {% for member in data_institution.affiliates %}

               <div>
                  <a class="link-one title is-6" href="/persons/{{ member.pid }}">{{ member.given_name }} {{ member.family_name }}</a>
                  <a class="link-one" href="{{ member.url }}"><i class="fas fa-external-link-alt"></i></a>
                  <p class="justified little-space-below">{{ member.1.description }}</p>
               </div>

               {% if forloop.first %}
               <span id="more-affiliate">
                  {% endif %}

                  {% if forloop.last %}
               </span>
               {% else %}
               <hr>
               {% endif %}
               {% endfor %}
               {% endblock %}

               {% if data_institution.len_affiliates > 1 %}
                  <a onclick="displayMore('more-affiliate', 'myBtn-div-affiliate')" class="myBtn" id="myBtn">
                     <div class="title is-6 myBtn-div" id="myBtn-div-affiliate">
                        Voir plus
                     </div>
                  </a>
               {% endif %}
            </section>

            <a class="articles" id="Articles"></a>

            <section class="data-box btn-see-more box">
               {% block project_articles %}
               <p class="title is-5">Articles</p>

               {% if data_institution.len_articles == 0 %}
                  <p>Il n'y a pas encore d'articles associés</p>
               {% endif %}

               {% for article in data_institution.articles %}

               <div>
                  <a class="link-one title is-6" href="/articles/{{ article.pid }}">{{ article.name }}</a>
                  <a class="link-one" href="{{ article.url }}"><i class="fas fa-external-link-alt"></i></a>
                  <p class="justified little-space-below">{{ article.abstract }}</p>
                  <p>
                     {% for author in article.authors %}
                     {% if not forloop.last %}
                     <a class="link-one" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>,
                     {% else %}
                     <a class="link-one" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>
                     {% endif %}

                     {% endfor %}
                  </p>
                  <i>Editeur, {{ article.date_published }}</i>
               </div>

               {% if forloop.first %}
               <span id="more-article">
                  {% endif %}

                  {% if forloop.last %}
               </span>
               {% else %}
               <hr>
               {% endif %}
               {% endfor %}
               {% endblock %}

               {% if data_institution.len_articles > 1 %}
                  <a onclick="displayMore('more-article', 'myBtn-div-article')" class="myBtn" id="myBtn">
                     <div class="title is-6 myBtn-div" id="myBtn-div-article">
                        Voir plus
                     </div>
                  </a>
               {% endif %}
            </section>

            <a class="projects" id="Projects"></a>

            <section class="data-box btn-see-more box">
                {% block article_projects %}
                    <p class="title is-5">Projets</p>

                    {% if data_institution.len_projects == 0 %}
                           <span id="more-project">
                           </span>
                    {% endif %}

                    {% for project in data_institution.projects %}

                       <div>
                           <a class="link-one title is-6" href="/projects/{{ project.pid }}">{{ project.name }}</a>
                           <a class="link-one" href="{{ project.url }}"><i class="fas fa-external-link-alt"></i></a>
                           <p class="justified little-space-below">{{ project.description }}</p>
                           <p>
                                {% for member in project.members %}
                                    {% if not forloop.last %}
                                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>,
                                    {% else %}
                                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>
                                    {% endif %}
                                {% endfor %}
                           </p>
                           <p>Durée du projet : du {{ project.founding_date }} au {{ project.dissolution_date }}</p>
                           <p>Financement : Bailleurs de fonds</p>
                       </div>

                       {% if forloop.first %}
                           <span id="more-project">
                       {% endif %}

                       {% if forloop.last %}
                           </span>
                       {% else %}
                           <hr>
                       {% endif %}
                    {% endfor %}
                {% endblock %}

                <a onclick="displayMore('more-project', 'myBtn-div-project')" class="myBtn" id="myBtn">
                    <div class="title is-6 myBtn-div" id="myBtn-div-project">
                       Voir plus
                    </div>
                </a>
            </section>


            <a class="datasets" id="Datasets"></a>

            <section class="data-box btn-see-more box">
               {% block project_datasets %}
               <p class="title is-5">Données</p>

               {% if data_institution.len_datasets == 0 %}
                  <p>Il n'y a pas encore de données associés</p>
               {% endif %}

               {% for dataset in data_institution.datasets %}

               <div>
                  <a class="link-one title is-6" href="/datasets/{{ dataset.pid }}">{{ dataset.name }}</a>
                  <a class="link-one" href="{{ dataset.url }}"><i class="fas fa-external-link-alt"></i></a>
                  <a class="link-one" href="{{ dataset.data_download.url }}"><i class="fas fa-download"></i></a>
                  <p class="justified little-space-below">{{ dataset.abstract }}</p>
                  <p> Créateurs :
                     {% for creator in dataset.creators %}
                     {% if not forloop.last %}
                     <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>,
                     {% else %}
                     <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>
                     {% endif %}
                     {% endfor %}
                  </p>
                  <p> Mainteneurs :
                     {% for maintainer in dataset.maintainers %}
                     {% if not forloop.last %}
                     <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>,
                     {% else %}
                     <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>
                     {% endif %}
                     {% endfor %}
                  </p>
                  <p>Création : {{ dataset.created_date }}</p>
                  <p>Dernière modification : {{ dataset.modified_date }}</p>
               </div>

               {% if forloop.first %}
               <span id="more-dataset">
                  {% endif %}

                  {% if forloop.last %}
               </span>
               {% else %}
               <hr>
               {% endif %}
               {% endfor %}
               {% endblock %}

               {% if data_institution.len_datasets > 1 %}
                  <a onclick="displayMore('more-dataset', 'myBtn-div-dataset')" class="myBtn" id="myBtn">
                     <div class="title is-6 myBtn-div" id="myBtn-div-dataset">
                        Voir plus
                     </div>
                  </a>
               {% endif %}
            </section>
         </div>
      </div>

      </section>


            <!------------------------------------------------------->
            <div class="columns">
                {% block information_header %}
                    <div class="column">
                        <figure class="figure">
                            <img src=
                            {% if data_institution.logo == '' %}
                                "{% static 'images/university-solid.png' %}"
                            {% else %}
                                "{{ data_institution.logo }}"
                            {% endif %}
                            width="250" height="250">
                        </figure>
                    </div>
                    <div class="column">
                            <p class="title is-4" align="justify">
                                {{ data_institution.name }}
                                {% if data_institution.alternate_name != '' %}
                                    ({{ data_institution.alternate_name }})
                                {% endif %}
                            </p>
                            <p class="subtitle is-6" align="justify">{{ data_institution.description }}</p>
                    </div>
                    <div class="column">
                        {% if user.is_superuser %}
                            <p>
                                <a class="button is-primary" href="/institutions/edition/{{ data_institution.pid }}">Modifier</a>
                            </p>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </section>

        <section>

            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active" data-tab="apropos">
                    <a>
                        <span class=""><i class="" aria-hidden="true"></i></span>
                        <span>A propos</span>
                    </a>
                    </li>
                    <li data-tab="workers">
                    <a>
                        <span class=""><i class="" aria-hidden="true"></i></span>
                        <span>Employés</span>
                    </a>
                    </li>
                    <li data-tab="affiliates">
                    <a>
                        <span class=""><i class="" aria-hidden="true"></i></span>
                        <span>Affiliés</span>
                    </a>
                    </li>
                    <li data-tab="publications">
                    <a>
                        <span class=""><i class="" aria-hidden="true"></i></span>
                        <span>Articles</span>
                    </a>
                    </li>
                    <li data-tab="projects">
                    <a>
                        <span class=""><i class="" aria-hidden="true"></i></span>
                        <span>Projets</span>
                    </a>
                    </li>
                    <li data-tab="data">
                    <a>
                        <span class=""><i class="" aria-hidden="true"></i></span>
                        <span>Données</span>
                    </a>
                    </li>
                    {% if data_institution.funder %}
                        <li data-tab="funder">
                            <a>
                                <span class=""><i class="" aria-hidden="true"></i></span>
                                <span>Projet(s) Financé(s)</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="tab-content">
                <div class="is-active" data-content="apropos">
                    {% block apropos %}
                        <p>Nom : {{ data_institution.name }}</p>
                        <p>Nom alternatif : {{ data_institution.alternate_name }}</p>
                        <p>Description : {{ data_institution.description }}</p>
                        <p>Lien vers l'institution : {{ data_institution.url }}</p>
                        <p>Date de fondation : {{ data_institution.founding_date }}</p>
                        <p>Organisations parente :
                            {% for organization in data_institution.parent_organizations %}
                                <p>
                                    <a class="link-one" href="/institutions/{{ organization.0 }}">{{ organization.1.name }} ({{ organization.1.alternate_name }})</a>
                                </p>
                            {% endfor %}
                        </p>
                        <p>Sous-organisations :
                            {% for organization in data_institution.sub_organizations %}
                                <p>
                                    <a class="link-one" href="/institutions/{{ organization.0 }}">{{ organization.1.name }} ({{ organization.1.alternate_name }})</a>
                                </p>
                            {% endfor %}
                        </p>
                        <p>Bailleur de fonds : {{ data_institution.funder }}</p>
                    {% endblock %}
                </div>
                <div data-content="workers">
                    {% block workers %}
                        Employés :
                        {% for worker in data_institution.workers %}
                            <p>
                                <a class="link-one" href="/persons/{{ worker.pid }}">{{ worker.given_name }} {{ worker.family_name }}</a>
                            </p>
                        {% endfor %}
                    {% endblock %}
                </div>
                <div data-content="affiliates">
                    {% block affiliates %}
                        Affiliés :
                        {% for affiliate in data_institution.affiliates %}
                            <p>
                                <a class="link-one" href="/persons/{{ affiliate.pid }}">{{ affiliate.given_name }} {{ affiliate.family_name }}</a>
                            </p>
                        {% endfor %}
                    {% endblock %}
                </div>
                <div data-content="publications">
                    {% block articles %}
                        Articles :
                        {% for article in data_institution.articles %}
                            <p>
                                <a class="link-one" href="/articles/{{ article.pid }}">{{ article.name }}</a>
                            </p>
                        {% endfor %}
                    {% endblock %}
                </div>
                <div data-content="projects">
                    {% block projects %}
                        <p>Projets : </p>
                        {% for project in data_institution.projects %}
                            <p>
                                <a class="link-one" href="/projects/{{ project.pid }}">{{ project.name }}</a>
                            </p>
                        {% endfor %}
                    {% endblock %}
                </div>
                <div data-content="data">
                    {% block institution %}
                        <p>Données : </p>
                        {% for institution in data_institution.institutions %}
                            <p>
                                <a class="link-one" href="/institutions/{{ institution.pid }}">{{ institution.name }}</a>
                            </p>
                        {% endfor %}
                    {% endblock %}
                </div>
                {% if data_institution.funder %}
                    <div data-content="funder">
                        {% block funder %}
                            <p>Projet(s) Financé(s) : </p>
                            {% for project_funded in data_institution.projects_funded %}
                            <p>
                                <a class="link-one" href="/projects/{{ project_funded.pid }}">{{ project_funded.name }}</a>
                            </p>
                        {% endfor %}
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        </section>

        {% include 'main/footer.html' %}
        <script>

        function displayMore(spanId, btn) {
           var moreText = document.getElementById(spanId);
           var btnText = document.getElementById(btn);

           if (moreText.style.display === "inline") {
             moreText.style.display = "none";
             btnText.innerHTML = "Voir plus";
           } else {
             moreText.style.display = "inline";
             btnText.innerHTML = "Voir moins";
           }
        }
        </script>
    </body>

    <script>
        $(document).ready(function() {
            $('.tabs li').on('click', function() {
                var tab = $(this).data('tab');

                $('.tabs li').removeClass('is-active');
                $(this).addClass('is-active');

                $('.tab-content div').removeClass('is-active');
                $('div[data-content="' + tab + '"]').addClass('is-active');
            });
        });
    </script>
</html>
