<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            INCIPIT-CRIS
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="personnes/">
                Personnes
            </a>

            <a class="navbar-item" href="articles/">
                Articles
            </a>
        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}
                <a class="navbar-item" href="/personnes/{{user.ark_pid}}">{{ user.first_name }} {{ user.last_name }}</a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="logout/">
                            Déconnexion
                        </a>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="login/">
                                Connexion
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
