<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/manage_data.css' %}">
    </head>
    <body>

        {% include 'main/navbar.html' %}

        
        <section>

            <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                <ul>
                    <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
                    <li class="is-active"><a href="/manage-data/" aria-current="page">Gestion des données</a></li>
                </ul>
            </nav>

            <div>
                <form action="/backup-triplestore/" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="filename" name="filename" value="{{ file }}">
                    <button class="button is-primary">Backup</button>
                </form>
            </div>

            <div class="tabs is-centered">
                <ul>
                    <li id="triple_files" class="is-active" onclick="setActive(this)">
                        <a>
                          <span class="icon is-small"><i class="far fa-file" aria-hidden="true"></i></span>
                          <span>Triple file</span>
                        </a>
                    </li>
                    <li id="csv_files" onclick="setActive(this)">
                        <a>
                          <span class="icon is-small"><i class="fas fa-file-csv" aria-hidden="true"></i></span>
                          <span>CSV file</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="triple_elements">
                {% for file in triple_files %}
                    <div>
                        {{ file }}
                        <form action="/populate-triplestore/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="filename" name="filename" value="{{ file }}">
                            <button class="button is-primary">Peupler le triplestore</button>
                        </form>
                        <form action="/delete-data/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="filename" name="filename" value="{{ file }}">
                            <button class="button is-danger">Supprimer le fichier</button>
                        </form>
                        <form action="/download-file/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="filename" name="filename" value="{{ file }}">
                            <button class="button is-link">Télécharger le fichier</button>
                        </form>
                    </div>
                {% endfor %}
            </div>

            <div id="csv_elements" hidden>
                {% for file in csv_files %}
                    <div>
                        {{ file }}
                        <form action="/populate-triplestore/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="filename" name="filename" value="{{ file }}">
                            <button class="button is-primary">Peupler le triplestore</button>
                        </form>
                        <form action="/delete-data/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="filename" name="filename" value="{{ file }}">
                            <button class="button is-danger">Supprimer le fichier</button>
                        </form>
                        <form action="/download-file/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="filename" name="filename" value="{{ file }}">
                            <button class="button is-link">Télécharger le fichier</button>
                        </form>
                    </div>
                {% endfor %}
            </div>


        </section>
        
        {% include 'main/footer.html' %}
    </body>
    <script>
        function setActive(element) {
            element.setAttribute('class', 'is-active');
            if (element.id == 'triple_files') {
                elem = document.getElementById('csv_files');
                elem.classList.remove('is-active');
                elem = document.getElementById('csv_elements');
                elem.hidden = true;
                elem = document.getElementById('triple_elements');
                elem.hidden = false;
            }
            else {
                elem = document.getElementById('triple_files')
                elem.classList.remove('is-active')
                elem = document.getElementById('triple_elements');
                elem.hidden = true;
                elem = document.getElementById('csv_elements');
                elem.hidden = false;
            }
        }
    </script>
</html>