<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/form_creation.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <section>
            {% include 'main/navbar.html' %}
            
            <h1 class="title is-4">Créer un article</h1>

            <form action="{{ url_to_return }}" method="post" autocomplete="off" onsubmit="javascript: return process();">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Nom de l'article : </label>
                    {{ form.name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.abstract.errors }}
                    <label for="{{ form.abstract.id_for_label }}">Abstract : </label>
                    {{ form.abstract }}
                </div>
                <div class="fieldWrapper">
                    {{ form.pid.errors }}
                    <label for="{{ form.pid.id_for_label }}">ARK de l'article si existant : </label>
                    {{ form.pid }}
                </div>
                <div class="fieldWrapper">
                    {{ form.url.errors }}
                    <label for="{{ form.url.id_for_label }}">URL : </label>
                    {{ form.url }}
                </div>
                <div class="fieldWrapper">
                    {{ form.date_published.errors }}
                    <label for="{{ form.date_published.id_for_label }}">Date de publication : </label>
                    {{ form.date_published }}
                </div>
                <div class="autocomplete">
                    <label for="authorAutocomplete">Auteur : </label>
                    <input class="input" id="authorInput" type="text" name="authorAutocomplete" placeholder="Nom de l'auteur">
                </div>
                <div id="authorElements">
                </div>
                <input type="hidden" id="authorElementsPost" name="authorElementsPost">
                <input class="button is-primary" type="submit" value="{{ button_value }}">
            </form>
        </section>
        {% include 'main/footer.html' %}
    </body>

    <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
    <script>
        

        function process() {

            document.getElementById("authorElementsPost").value = JSON.stringify(arrayToSend);
            return true;
        }

        var array_data = {{ persons|safe }};
        var arrayToSend = [];

        autocomplete(document.getElementById("authorInput"), array_data, "authorElements", arrayToSend);

    </script>

</html>