{% extends "article/article_profile.html" %}

{% load static %}

{% block breadcrumb %}
    <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
        <ul>
            <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
            <li><a class="link-one" href="/articles/">Articles</a></li>
            <li><a class="link-one" href="/articles/{{ data_article.pid }}">Profil</a></li>
            <li class="is-active"><a href="/articles/{{ data_article.pid }}/edition" aria-current="page">Edition</a></li>
        </ul>
    </nav>
{% endblock %}


{% block information %}
    {{ message }}
{% endblock %}

{% block button_navigation %}
    <a class="link-one right-align little-space-above" href="/articles/{{ data_article.pid }}"><i class="fas fa-user-alt"></i></a>
{% endblock %}

{% block article_information %}
    <p class="title is-4 name">{{ data_article.name }} <a class="link-one" href="/articles/edition/field/name/{{data_article.pid}}"><i class="fas fa-edit"></i></a></p>
{% endblock %}

{% block article_description %}
    <p class="space-below">Description : <a class="link-one" href="/articles/edition/field/abstract/{{ data_article.pid }}"><i class="fas fa-edit"></i></a></p>
    <p class="justified">{{ data_article.abstract }}</p>
{% endblock %}

{% block article_informations %}
    <div class="columns is-multiline">
        <div class="column is-one-third">

            <div>
                <p>Date de publication : <time datetime="{{ data_article.date_published }}">{{ data_article.date_published }}</time> <a class="link-one" href="/articles/edition/field/datePublished/{{data_article.pid}}"><i class="fas fa-edit"></i></a></p>
            </div>
        </div>
        <div class="column is-one-third">
        </div>
        <div class="column is-one-third">
            <p>URL : <a class="link-one url" href="{{ data_article.url }}">{{ data_article.url }}</a> <a class="link-one" href="/articles/edition/field/url/{{data_article.pid}}"><i class="fas fa-edit"></i></a></p>
        </div>

    </div>
{% endblock %}

{% block article_work %}
<p class="subtitle is-6">Travail : <a class="link-one" href="/articles/edition/field/add-institution/{{data_article.pid}}"><i class="fas fa-plus-circle"></i></a></p>
   {% for work in data_article.institutions %}
        <div class="align-image-text">
        <figure class="image is-48x48">
                <img src=
                {% if work.logo == '' %}
                    "{% static 'images/university-solid.png' %}"
                {% else %}
                    "{{ work.logo }}"
                {% endif %}
                >
        </figure>
        <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>

        <form class="align-button-centered" action="/articles/edition/field/delete-institution/{{data_article.pid}}" method="post">
            {% csrf_token %}
            <input type="hidden" id="institutionARK" name="institutionARK" value="{{ work.pid }}">
            <button class="delete"></button>
        </form>
        </div>
   {% endfor %}
{% endblock %}

{% block article_authors %}
    <p class="title is-5">Auteurs <a class="link-one" href="/articles/edition/field/add-author/{{data_article.pid}}"><i class="fas fa-plus-circle"></i></a></p>

    {% if data_article.len_authors == 0 %}
           <span id="more-article">
           </span>
    {% endif %}

    {% for author in data_article.authors %}

       <div>
          <form action="/articles/edition/field/delete-author/{{data_article.pid}}" method="post">
              {% csrf_token %}
              <input type="hidden" id="authorARK" name="authorARK" value="{{ author.0 }}">
                 <a class="link-one title is-6" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>
                 <a class="link-one" href="{{ author.url }}"><i class="fas fa-external-link-alt"></i></a>
                 <button class="delete"></button>
          </form>
       </div>

       {% if forloop.first %}
           <span id="more-article">
       {% endif %}

       {% if forloop.last %}
           </span>
       {% else %}
           <hr>
       {% endif %}
    {% endfor %}
{% endblock %}

{% block article_projects %}
    <p class="title is-5">Projets <a class="link-one" href="/articles/edition/field/add-project/{{data_article.pid}}"><i class="fas fa-plus-circle"></i></a></p>

    {% if data_article.len_projects == 0 %}
           <span id="more-project">
           </span>
    {% endif %}

    {% for project in data_article.projects %}

       <div>
          <form action="/articles/edition/field/delete-project/{{data_article.pid}}" method="post">
              {% csrf_token %}
              <input type="hidden" id="projectARK" name="projectARK" value="{{ project.pid }}">
              <a class="link-one title is-6" href="/projects/{{ project.pid }}">{{ project.name }}</a>
              <a class="link-one" href="{{ project.url }}"><i class="fas fa-external-link-alt"></i></a>
              <button class="delete"></button>
          </form>
           <p class="justified little-space-below">{{ project.description }}</p>
           <p>
                {% for member in project.members %}
                    {% if not forloop.last %}
                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>,
                    {% else %}
                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>
                    {% endif %}
                {% endfor %}
           </p>
           <p>Durée du projet : du {{ project.founding_date }} au {{ project.dissolution_date }}</p>
           <p>Financement : Bailleurs de fonds</p>
       </div>

       {% if forloop.first %}
           <span id="more-project">
       {% endif %}

       {% if forloop.last %}
           </span>
       {% else %}
           <hr>
       {% endif %}
    {% endfor %}
{% endblock %}

{% block article_datasets %}
     <p class="title is-5">Données <a class="link-one" href="/articles/edition/field/add-dataset/{{data_article.pid}}"><i class="fas fa-plus-circle"></i></a></p>

     {% if data_article.len_datasets == 0 %}
             <span id="more-dataset">
             </span>
     {% endif %}

     {% for dataset in data_article.datasets %}

         <div>
             <form action="/articles/edition/field/delete-dataset/{{data_article.pid}}" method="post">
               {% csrf_token %}
               <a class="link-one title is-6" href="/datasets/{{ dataset.pid }}">{{ dataset.name }}</a>
               <a class="link-one" href="{{ dataset.url }}"><i class="fas fa-external-link-alt"></i></a>
               <a class="link-one" href="{{ dataset.data_download.url }}"><i class="fas fa-download"></i></a>
               <input type="hidden" id="datasetARK" name="datasetARK" value="{{ dataset.pid }}">
               <button class="delete"></button></li>
             </form>
             <p class="justified little-space-below">{{ dataset.abstract }}</p>
             <p> Créateurs :
                {% for creator in dataset.creators %}
                     {% if not forloop.last %}
                         <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>,
                     {% else %}
                         <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>
                     {% endif %}
                {% endfor %}
             </p>
             <p> Mainteneurs :
                {% for maintainer in dataset.maintainers %}
                     {% if not forloop.last %}
                         <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>,
                     {% else %}
                         <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>
                     {% endif %}
                {% endfor %}
             </p>
             <p>Création : {{ dataset.created_date }}</p>
             <p>Dernière modification : {{ dataset.modified_date }}</p>
         </div>

         {% if forloop.first %}
             <span id="more-dataset">
         {% endif %}

         {% if forloop.last %}
             </span>
         {% else %}
             <hr>
         {% endif %}
     {% endfor %}
{% endblock %}
