{% extends "article/article_profile.html" %}

{% block information %}
    {{ message }}
{% endblock %}


{% block article_information %}
    
    <a class="button is-primary" href="/articles/{{ data_article.ark_pid }}">Voir l'article</a>

    <form action="/articles/edition/field/delete-article/{{data_article.ark_pid}}" method="post">
        {% csrf_token %}
        <input type="hidden" id="articleARK" name="articleARK" value="{{ data_article.ark_pid }}">
        <input class="shift-button button is-danger" type="submit" value="Supprimer">
    </form>

    <p class="title is-4" align="justify">
        {{ data_article.name }} <a class="link-one title is-6" href="/articles/edition/field/name/{{data_article.ark_pid}}"> Modifer</a>
    </p>
    <p class="subtitle is-6" align="justify">
        {% if data_article.abstract == "" %}
            <a class="link-one" href="/articles/edition/field/abstract/{{data_article.ark_pid}}"> Ajouter un abstract</a>
        {% else %}
            {{ data_article.abstract }} 
            <a class="link-one" href="/articles/edition/field/abstract/{{data_article.ark_pid}}"> Modifer</a>
        {% endif %}
    </p>
    <time datetime="{{ data_article.date_published }}">Date de publication : {{ data_article.date_published }} <a class="link-one" href="/articles/edition/field/datePublished/{{data_article.ark_pid}}"> Modifer</a></time>
    <p>URL : <a class="link-one" href="{{ data_article.url }}">{{ data_article.url }}</a></p>
    <p>Auteur(s) : <a class="link-one" href="/articles/edition/field/add-author/{{data_article.ark_pid}}"> Ajouter</a></p>
        {% for author in data_article.authors %}
            <p>
                <form action="/articles/edition/field/delete-author/{{data_article.ark_pid}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="authorARK" name="authorARK" value="{{ author.0 }}">
                    <a class="link-one" href="/personnes/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>
                    <button class="delete"></button>
                </form>
            </p>
        {% endfor %}
    <p>Projet : <a class="link-one" href="/articles/edition/field/add-project/{{data_article.ark_pid}}"> Ajouter</a></p>
        {% for project in data_article.projects %}
            <p>
                <form action="/articles/edition/field/delete-project/{{data_article.ark_pid}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="projectARK" name="projectARK" value="{{ project.0 }}">
                    <a class="link-one" href="/projects/{{ project.0 }}">{{ project.1.name }}</a>
                    <button class="delete"></button>
                </form>
            </p>
        {% endfor %}
{% endblock %}

