{% extends "person/person_profile.html" %}

{% load static %}

{% block breadcrumb %}
    <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
        <ul>
            <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
            <li><a class="link-one" href="/persons/">Personnes</a></li>
            <li><a class="link-one" href="/persons/{{ data_person.pid }}">Profil</a></li>
            <li class="is-active"><a href="/persons/{{ data_person.pid }}/edition" aria-current="page">Edition</a></li>
        </ul>
    </nav>
{% endblock %}

{% block information %}
    {{ message }}
{% endblock %}

{% block button_navigation %}
    <a class="link-one right-align little-space-above" href="/persons/{{ data_person.pid }}"><i class="fas fa-user-alt"></i></a>
{% endblock %}

{% block person_information %}
    <p class="title is-4 name break">{{ data_person.given_name }} {{ data_person.family_name }}</p>
    <p>Nom du poste</p>
    <p class="domains">Domaines : LOD, PID</p>
{% endblock %}

{% block person_personal_information %}
    <div class="columns is-multiline">
        <div class="column is-one-third">

            <p>Titre : M <a class="link-one" href=""><i class="fas fa-edit"></i></a></p>
        </div>

        <div class="column is-one-third">
            <p>Prénom : {{ data_person.given_name }} <a class="link-one" href=""><i class="fas fa-edit"></i></a></p>
        </div>

        <div class="column is-one-third">
            <p>Nom : {{ data_person.family_name }} <a class="link-one" href=""><i class="fas fa-edit"></i></a></p>
        </div>

        <div class="column is-one-third">
            <p>Poste : Nom du poste <a class="link-one" href=""><i class="fas fa-edit"></i></a></p>
        </div>
    </div>
{% endblock %}

{% block person_description %}
    <p class="space-below">Description : <a class="link-one" href="/persons/edition/profil/description/{{ data_person.pid }}"><i class="fas fa-edit"></i></a></p>
    <p class="justified">{{ data_person.description }}</p>
{% endblock %}

{% block person_contact %}
    <div class="columns">
        <div class="column center-div">

            <p>Email : {{ data_person.email }} <a class="link-one" href=""><i class="fas fa-edit"></i></a></p>

        </div>
        <div class="column center-div">

            <p>Téléphone : {{ data_person.telephone }} <a class="link-one" href="/persons/edition/profil/telephone/{{ data_person.pid }}"><i class="fas fa-edit"></i></a></p>
        </div>

        <div class="column center-div">
            <i class="fab fa-linkedin fa-3x"></i>
        </div>
    </div>
{% endblock %}


{% block person_work %}
    <p class="subtitle is-6">Travail : <a class="link-one" href="/persons/edition/profil/add-work/{{data_person.pid}}"><i class="fas fa-plus-circle"></i></a></p>
        {% for work in data_person.works %}
            <div class="align-image-text">
            <figure class="image is-48x48">
                    <img src=
                    {% if work.logo == '' %}
                        "{% static 'images/university-solid.png' %}"
                    {% else %}
                        "{{ work.logo }}"
                    {% endif %}
                    >
            </figure>
            <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>

            <form class="align-button-centered" action="/persons/edition/profil/delete-work/{{ data_person.pid }}" method="post">
                {% csrf_token %}
                <input type="hidden" id="workARK" name="workARK" value="{{ work.pid }}">
                <button class="delete"></button>
            </form>
            </div>
        {% endfor %}
{% endblock %}

{% block person_affiliation %}
    <p class="subtitle is-6">Affiliation : <a class="link-one" href="/persons/edition/profil/add-affiliation/{{data_person.pid}}"><i class="fas fa-plus-circle"></i></a></p>
    {% for affiliation in data_person.affiliations %}
        <div class="align-image-text">
            <figure class="image is-48x48">
                <img src=
                {% if affiliation.logo == '' %}
                    "{% static 'images/university-solid.png' %}"
                {% else %}
                    "{{ affiliation.logo }}"
                {% endif %}
                >
            </figure>
            <a class="link-one institution-name" href="/institutions/{{ affiliation.pid }}">{{ affiliation.name }} ({{ affiliation.alternate_name }})</a>
            <form class="align-button-centered" action="/persons/edition/profil/delete-affiliation/{{ data_person.pid }}" method="post">
                {% csrf_token %}
                <input type="hidden" id="affiliationARK" name="affiliationARK" value="{{ affiliation.pid }}">
                <button class="delete"></button>
            </form>
        </div>
    {% endfor %}
{% endblock %}

{% block person_articles %}
    <p class="title is-5">Articles <a class="link-one" href="/persons/edition/profil/add-article/{{data_person.pid}}"><i class="fas fa-plus-circle"></i></a></p>

    {% for article in data_person.articles %}
    
        <div>
            <form action="/persons/edition/profil/delete-article/{{data_person.pid}}" method="post">
                {% csrf_token %}
                <a class="link-one title is-6" href="/articles/{{ article.pid }}">{{ article.name }}</a>
                <a class="link-one" href="{{ article.url }}"><i class="fas fa-external-link-alt"></i></a>
                <input type="hidden" id="articleARK" name="articleARK" value="{{ article.pid }}">
                <button class="delete"></button>
            </form>
            <p class="justified little-space-below">{{ article.abstract }}</p>
            <p>
                {% for author in article.authors %}
                    {% if not forloop.last %}
                        <a class="link-one" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>,
                    {% else %}
                        <a class="link-one" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>
                    {% endif %}
                    
                {% endfor %}
            </p>
            <i>Editeur, {{ article.date_published }}</i>
        </div>

        {% if forloop.first %}
            <span id="more-article">
        {% endif %}

        {% if forloop.last %}
            </span>
        {% else %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block person_projects %}
    <p class="title is-5">Projets <a class="link-one" href="/persons/edition/profil/add-project/{{data_person.pid}}"><i class="fas fa-plus-circle"></i></a></p>

    {% for project in data_person.projects %}
    
        <div>
            <form action="/persons/edition/profil/delete-project/{{data_person.pid}}" method="post">
                {% csrf_token %}
                <input type="hidden" id="projectARK" name="projectARK" value="{{ project.pid }}">
                <a class="link-one title is-6" href="/projects/{{ project.pid }}">{{ project.name }}</a>
                <a class="link-one" href="{{ project.url }}"><i class="fas fa-external-link-alt"></i></a>
                <button class="delete"></button>
            </form>
            <p class="justified little-space-below">{{ project.description }}</p>
            <p>
                {% for member in project.members %}
                    {% if not forloop.last %}
                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>,
                    {% else %}
                        <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            <p>Durée du projet : du {{ project.founding_date }} au {{ project.dissolution_date }}</p>
            <p>Financement : Bailleurs de fonds</p>
        </div>

        {% if forloop.first %}
            <span id="more-project">
        {% endif %}

        {% if forloop.last %}
            </span>
        {% else %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block person_datasets %}
    <p class="title is-5">Données <a class="link-one" href="/persons/edition/profil/add-dataset/{{data_person.pid}}"><i class="fas fa-plus-circle"></i></a></p>
    
    {% for dataset in data_person.datasets %}
    
        <div>
            <form action="/persons/edition/profil/delete-dataset/{{data_person.pid}}" method="post">
                {% csrf_token %}
                <input type="hidden" id="dataset_ARK" name="dataset_ARK" value="{{ dataset_creator.pid }}">
                <a class="link-one title is-6" href="/datasets/{{ dataset.pid }}">{{ dataset.name }}</a>
                <a class="link-one" href="{{ dataset.url }}"><i class="fas fa-external-link-alt"></i></a>
                <a class="link-one" href="{{ dataset.data_download.url }}"><i class="fas fa-download"></i></a>
                <button class="delete"></button>
            </form>
            <p class="justified little-space-below">{{ dataset.abstract }}</p>
            <p> Créateurs :
                {% for creator in dataset.creators %}
                    {% if not forloop.last %}
                        <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>,
                    {% else %}
                        <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            <p> Mainteneurs :
                {% for maintainer in dataset.maintainers %}
                    {% if not forloop.last %}
                        <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>,
                    {% else %}
                        <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            <p>Création : {{ dataset.created_date }}</p>
            <p>Dernière modification : {{ dataset.modified_date }}</p>
        </div>

        {% if forloop.first %}
            <span id="more-dataset">
        {% endif %}

        {% if forloop.last %}
            </span>
        {% else %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
