<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/person_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
      {% load cookiebanner %}
      {% cookiebanner_modal 'cookies' %}
        {% include 'main/navbar.html' %}

        <section>
            {% block breadcrumb %}
                <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                    <ul>
                        <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
                        <li><a class="link-one" href="/persons/">Personnes</a></li>
                        <li class="is-active"><a href="/persons/{{ data_person.pid }}" aria-current="page">Profil</a></li>
                    </ul>
                </nav>
            {% endblock %}

            {% block information %}
            {% endblock %}

            <section>
                <div class="parallax">
                    <figure class="figure">
                        <img class="image profile-photo" src="{% static 'images/blank-profile-picture.png' %}">
                    </figure>
                    <div class="right-align">
                        {% if data_person.orcid != '' %}
                            <p class="orcid is-background-green title is-5">
                                <a title="Accèder au profil ORCID" class="police-color" href="https://orcid.org/{{ data_person.orcid }}">{{ data_person.orcid }}</a>
                                <i class="fab is-green fa-orcid"></i>
                            </p>
                        {% else %}
                            <p class="orcid title is-5">
                                <i class="fab is-red fa-orcid"></i>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </section>

            <section class="box top-box">
                <div class="columns">
                    {% block button_navigation %}
                        {% if can_edit %}
                            <a title="Editer le profil" class="link-one right-align little-space-above" href="/persons/edition/{{ data_person.pid }}"><i class="fas fa-user-edit"></i></a>
                        {% endif %}
                    {% endblock %}

                    <div class="column">
                        {% block person_information %}
                            <p class="title is-4 name break">{{ data_person.given_name }} {{ data_person.family_name }}</p>

                            {% if data_person.job_title != None %}
                                <p>{{ data_person.job_title }}</p>
                            {% else %}
                                <p style="visibility: hidden">{{ data_person.job_title }}</p>
                            {% endif %}
                        {% endblock %}
                    </div>

                    <div class="column is-one-third header">
                        {% for work in data_person.works %}
                            <div class="align-image-text">
                                <figure class="image is-48x48">
                                        <img src=
                                        {% if work.logo == '' %}
                                            "{% static 'images/university-solid.png' %}"
                                        {% else %}
                                            "{{ work.logo }}"
                                        {% endif %}
                                        >
                                </figure>
                                <a title="Accèder au profil de l'institution : {{ work.name }} ({{ work.alternate_name }})" class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                            </div>
                        {% endfor %}
                        <p class="break-logo"></p>
                        {% for affiliation in data_person.affiliations %}
                            <div class="align-image-text">
                                <figure class="image is-48x48">
                                    <img src=
                                    {% if affiliation.logo == '' %}
                                        "{% static 'images/university-solid.png' %}"
                                    {% else %}
                                        "{{ affiliation.logo }}"
                                    {% endif %}
                                    >
                                </figure>
                                <a title="Accèder au profil de l'institution : {{ affiliation.name }} ({{ affiliation.alternate_name }})" class="link-one institution-name" href="/institutions/{{ affiliation.pid }}">{{ affiliation.name }} ({{ affiliation.alternate_name }})</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </section>

        <div class="columns is-mobile has-text-centered stats">
            <a href="#Articles" id="articlesStats" name="articlesStats" class="column column-left-align">
                <article class="box">
                    <p class="title">{{ data_person.len_articles }}</p>
                    <p class="heading">Articles</p>
                </article>
            </a>
            <a href="#Projects" id="projectsStats" name="projectsStats" class="column">
                <article class="box">
                    <p class="title">{{ data_person.len_projects }}</p>
                    <p class="heading">Projets</p>
                </article>
            </a>
            <a href="#Datasets" id="datasetsStats" name="datasetsStats" class="column column-right-align">
                <article class="box">
                    <p class="title">{{ data_person.len_datasets }}</p>
                    <p class="heading">Données</p>
                </article>
            </a>
        </div>

        <section class="data-box btn-see-more box">
            <p class="title is-5">A propos</p>
            {% block person_description %}
                {% if data_person.description != '' %}
                    <div class="separator">Description</div>
                    <p class="justified">{{ data_person.description }}</p>
                    <span id="more">
                {% endif %}
            {% endblock %}

            <div class="separator">Informations</div>

            {% block person_personal_information %}
                <div class="columns is-multiline">
                    {% if data_person.title != None %}
                        <div class="column">
                            <div>
                                Titre :
                                {% for title in data_person.title %}
                                    {{ title }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="column keep-it-inline-parent">
                        <p class="keep-it-inline">Prénom : {{ data_person.given_name }}</p>
                    </div>

                    <div class="column keep-it-inline-parent">
                        <p class="keep-it-inline-parent">Nom : {{ data_person.family_name }}</p>
                    </div>

                    {% if data_person.job_title != None %}
                        <div class="column keep-it-inline-parent">
                            <p class="keep-it-inline">Poste :
                                {{ data_person.job_title }}
                            </p>
                        </div>
                    {% endif %}

                    {% if data_person.orcid != '' %}
                        <div class="column keep-it-inline-parent">
                            <p class="keep-it-inline">ORCID :
                                {{ data_person.orcid }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {% if data_person.description == '' %}
                <span id="more">
            {% endif %}

            <div class="separator">Contact</div>

            {% block person_contact %}
                <div class="columns">

                    {% if data_person.email != '' %}
                        <div class="column keep-it-inline-parent">
                            <p class="keep-it-inline">Email : {{ data_person.email }}</p>
                        </div>
                    {% endif %}

                    {% if data_person.telephone != '' %}
                        <div class="column keep-it-inline-parent">
                            <p class="keep-it-inline">Téléphone : {{ data_person.telephone }}</p>
                        </div>
                    {% endif %}

                    {% if data_person.address != '' %}
                        <div class="column keep-it-inline-parent">
                            <p class="keep-it-inline">Adresse professionnelle : {{ data_person.address }}</p>
                        </div>
                    {% endif %}

                    {% if data_person.linkedin != '' %}
                        <div class="column">
                            <a class="" href="{{ data_person.linkedin }}"><i class="fab fa-linkedin fa-3x"></i></a>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {% block person_institutions %}

                {% if data_person.works|length > 0 or data_person.affiliations|length > 0 %}
                    <div class="separator">Institutions</div>

                    <div class="columns">
                        {% if data_person.works|length > 0 %}
                            <div class="column">
                                <p class="subtitle is-6">Travail :</p>
                                {% for work in data_person.works %}
                                    <div class="align-image-text">
                                        <figure class="image is-48x48">
                                                <img src=
                                                {% if work.logo == '' %}
                                                    "{% static 'images/university-solid.png' %}"
                                                {% else %}
                                                    "{{ work.logo }}"
                                                {% endif %}
                                                >
                                        </figure>
                                        <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if data_person.affiliations|length > 0 %}
                            <div class="column">
                                <p class="subtitle is-6">Affiliation :</p>
                                {% for affiliation in data_person.affiliations %}
                                    <div class="align-image-text">
                                        <figure class="image is-48x48">
                                            <img src=
                                            {% if affiliation.logo == '' %}
                                                "{% static 'images/university-solid.png' %}"
                                            {% else %}
                                                "{{ affiliation.logo }}"
                                            {% endif %}
                                            >
                                        </figure>
                                        <a class="link-one institution-name" href="/institutions/{{ affiliation.pid }}">{{ affiliation.name }} ({{ affiliation.alternate_name }})</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            {% endblock %}

            </span>

            <a onclick="displayMore('more', 'myBtn-div')" class="myBtn" id="myBtn">
                <div class="title is-6 myBtn-div" id="myBtn-div">
                    Voir plus
                </div>
            </a>
        </section>

        <a class="articles" id="Articles"></a>

        <section class="data-box btn-see-more box">
            {% block person_articles %}
                <p class="title is-5">Articles</p>

                {% if data_person.len_articles == 0 %}
                        <p>Il n'y a pas encore d'articles associés</p>
                {% endif %}

                {% for article in data_person.articles %}

                    <div>
                        <a class="link-one title is-6" href="/articles/{{ article.pid }}">{{ article.name }}</a>
                        {% if article.url != '' %}
                            <a title="Accèder au site de l'article {{ article.name }}" class="link-one" href="{{ article.url }}"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                        <p class="justified little-space-below">{{ article.abstract }}</p>
                        <p>
                            {% for author in article.authors %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ author.1.pid }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ author.1.pid }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>
                                {% endif %}

                            {% endfor %}
                        </p>
                        <i>{{ article.date_published }}</i>
                    </div>

                    {% if forloop.first %}
                        <span id="more-article">
                    {% endif %}

                    {% if forloop.last %}
                        </span>
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% if data_person.len_articles > 1 %}
                <a onclick="displayMore('more-article', 'myBtn-div-article')" class="myBtn" id="myBtn">
                    <div class="title is-6 myBtn-div" id="myBtn-div-article">
                        Voir plus
                    </div>
                </a>
            {% endif %}
        </section>

        <a class="projects" id="Projects"></a>

        <section class="data-box btn-see-more box">
            {% block person_projects %}
                <p class="title is-5">Projets</p>

                {% if data_person.len_projects == 0 %}
                        <p>Il n'y a pas encore de projets associés</p>
                {% endif %}

                {% for project in data_person.projects %}

                    <div>
                        <a class="link-one title is-6" href="/projects/{{ project.pid }}">{{ project.name }}</a>
                        {% if project.url != '' %}
                            <a title="Accèder au site du projet {{ project.name }}" class="link-one" href="{{ project.url }}"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                        <p class="justified little-space-below">{{ project.description }}</p>
                        <p> Membres :
                            {% for member in project.members %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ member.1.pid }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ member.1.pid }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>Durée du projet : du {{ project.founding_date }} au {{ project.dissolution_date }}</p>
                        <p>Financement :
                            {% for funder in project.funders %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ funder.pid }}">{{ funder.name }} ({{ funder.alternate_name }})</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ funder.pid }}">{{ funder.name }} ({{ funder.alternate_name }})</a>
                                {% endif %}
                            {% endfor %}
                        </p></p>
                    </div>

                    {% if forloop.first %}
                        <span id="more-project">
                    {% endif %}

                    {% if forloop.last %}
                        </span>
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% if data_person.len_projects > 1 %}
                <a onclick="displayMore('more-project', 'myBtn-div-project')" class="myBtn" id="myBtn">
                    <div class="title is-6 myBtn-div" id="myBtn-div-project">
                        Voir plus
                    </div>
                </a>
            {% endif %}
        </section>

        <a class="datasets" id="Datasets"></a>

        <section class="data-box btn-see-more box">
            {% block person_datasets %}
                <p class="title is-5">Données</p>

                {% if data_person.len_datasets == 0 %}
                        <p>Il n'y a pas encore de jeux de données associés</p>
                {% endif %}

                {% for dataset in data_person.datasets %}

                    <div>
                        <a class="link-one title is-6" href="/datasets/{{ dataset.pid }}">{{ dataset.name }}</a>
                        {% if dataset.url != '' %}
                            <a title="Accèder au site du jeu de données {{ dataset.name }}" class="link-one" href="{{ dataset.url }}"><i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                        {% if dataset.data_download.url != '' %}
                            <a title="Télécharger le jeu de données {{ dataset.name }}" class="link-one" href="{{ dataset.data_download.url }}"><i class="fas fa-download"></i></a>
                        {% endif %}
                        <p class="justified little-space-below">{{ dataset.abstract }}</p>
                        {% if dataset.creators != None %}
                            <p> Créateurs :
                                {% for creator in dataset.creators %}
                                    {% if not forloop.last %}
                                        <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>,
                                    {% else %}
                                        <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if dataset.maintainers != None %}
                            <p> Mainteneurs :
                                {% for maintainer in dataset.maintainers %}
                                    {% if not forloop.last %}
                                        <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>,
                                    {% else %}
                                        <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if dataset.created_date != '' %}
                            <p>Création : {{ dataset.created_date }}</p>
                        {% endif %}
                        {% if dataset.modified_date != '' %}
                            <p>Dernière modification : {{ dataset.modified_date }}</p>
                        {% endif %}
                    </div>

                    {% if forloop.first %}
                        <span id="more-dataset">
                    {% endif %}

                    {% if forloop.last %}
                        </span>
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% if data_person.len_datasets > 1 %}
                <a onclick="displayMore('more-dataset', 'myBtn-div-dataset')" class="myBtn" id="myBtn">
                    <div class="title is-6 myBtn-div" id="myBtn-div-dataset">
                        Voir plus
                    </div>
                </a>
            {% endif %}
        </section>

        {% include 'main/footer.html' %}
    </body>

    <script>

        function displayMore(spanId, btn) {
            var moreText = document.getElementById(spanId);
            var btnText = document.getElementById(btn);

            if (moreText.style.display === "inline") {
                moreText.style.display = "none";
                btnText.innerHTML = "Voir plus";
            } else {
                moreText.style.display = "inline";
                btnText.innerHTML = "Voir moins";
            }
        }

    </script>
</html>
