<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INCIPIT-CRIS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/person_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>

        {% include 'main/navbar.html' %}

        <section>
            {% block breadcrumb %}
                <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                    <ul>
                        <li><a class="link-one" href="/">INCIPIT-CRIS</a></li>
                        <li><a class="link-one" href="/persons/">Personnes</a></li>
                        <li class="is-active"><a href="/persons/{{ data_person.pid }}" aria-current="page">Profil</a></li>
                    </ul>
                </nav>
            {% endblock %}

            {% block information %}
            {% endblock %}


            <div class="parallax">
            <section class="header">
                    <figure class="figure">
                        <img class="image profile-photo" src="{% static 'images/blank-profile-picture.png' %}">
                    </figure>
            </section>
            </div>

            <section class="box top-box">
                <div class="columns">
                    {% if can_edit %}
                        <a class="right-align little-space-above" href="/persons/edition/{{ data_person.pid }}"><i class="fas fa-user-edit"></i></a>
                    {% endif %}
                    
                    <div class="column">
                        {% block person_information %}
                            <p class="title is-4 name break">{{ data_person.given_name }} {{ data_person.family_name }}</p>
                            <p>Nom du poste</p>
                            <p class="domains">Domaines : LOD, PID</p>
                        {% endblock %}
                    </div>
                    
                    <div class="column is-one-third header">
                    {% for work in data_person.works %}
                        <div class="align-image-text">
                            <figure class="image is-48x48">
                                    <img src=
                                    {% if work.logo == '' %}
                                        "{% static 'images/university-solid.png' %}"
                                    {% else %}
                                        "{{ work.logo }}"
                                    {% endif %}
                                    >
                            </figure>
                            <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                        </div>
                    {% endfor %}
                    <p class="break-logo"></p>
                    {% for affiliation in data_person.affiliations %}
                        <div class="align-image-text">
                            <figure class="image is-48x48">
                                <img src=
                                {% if affiliation.logo == '' %}
                                    "{% static 'images/university-solid.png' %}"
                                {% else %}
                                    "{{ affiliation.logo }}"
                                {% endif %}
                                >
                            </figure>
                            <a class="link-one institution-name" href="/institutions/{{ affiliation.pid }}">{{ affiliation.name }} ({{ affiliation.alternate_name }})</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
        </section>

        <section class="data-box btn-see-more box">
            <p class="title is-5">A propos</p>
            {% block person_description %}
                <p class="space-below">Description :</p>
                <p class="justified">{{ data_person.description }}</p>
            {% endblock %}
            
            <span id="more">

            <div class="separator">Informations personnelles</div>

            {% block person_personal_information %}
                <div class="columns is-multiline">
                    <div class="column is-one-third">

                        <p>Titre : M</p>
                    </div>

                    <div class="column is-one-third">
                        <p>Prénom : {{ data_person.given_name }}</p>
                    </div>

                    <div class="column is-one-third">
                        <p>Nom : {{ data_person.family_name }}</p>
                    </div>

                    <div class="column is-one-third">
                        <p>Poste : Nom du poste</p>
                    </div>
                </div>
            {% endblock %}

            <div class="separator">Contact</div>

            {% block person_contact %}
                <div class="columns">
                    <div class="column center-div">

                        <p>Email : {{ data_person.email }}</p>

                    </div>
                    <div class="column center-div">

                        <p>Téléphone : {{ data_person.telephone }}</p>
                    </div>

                    <div class="column center-div">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </div>
                </div>
            {% endblock %}

            <div class="separator">Institutions</div>

            <div class="columns">
                <div class="column">
                    {% block person_work %}
                        <p class="subtitle is-6">Travail :</p>
                        {% for work in data_person.works %}
                            <div class="align-image-text">
                                <figure class="image is-48x48">
                                        <img src=
                                        {% if work.logo == '' %}
                                            "{% static 'images/university-solid.png' %}"
                                        {% else %}
                                            "{{ work.logo }}"
                                        {% endif %}
                                        >
                                </figure>
                                <a class="link-one institution-name" href="/institutions/{{ work.pid }}">{{ work.name }} ({{ work.alternate_name }})</a>
                            </div>
                        {% endfor %}
                    {% endblock %}

                </div>
                <div class="column">

                    {% block person_affiliation %}
                        <p class="subtitle is-6">Affiliation :</p>
                        {% for affiliation in data_person.affiliations %}
                            <div class="align-image-text">
                                <figure class="image is-48x48">
                                    <img src=
                                    {% if affiliation.logo == '' %}
                                        "{% static 'images/university-solid.png' %}"
                                    {% else %}
                                        "{{ affiliation.logo }}"
                                    {% endif %}
                                    >
                                </figure>
                                <a class="link-one institution-name" href="/institutions/{{ affiliation.pid }}">{{ affiliation.name }} ({{ affiliation.alternate_name }})</a>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>

            </span>

            <a onclick="displayMore('more', 'myBtn-div')" class="myBtn" id="myBtn">
                <div class="title is-6 myBtn-div" id="myBtn-div">
                    Voir plus
                </div>
            </a>
        </section>

        <section class="data-box btn-see-more box">
            {% block person_articles %}
                <p class="title is-5">Articles</p>

                {% for article in data_person.articles %}
                
                    <div>
                        <a class="link-one title is-6" href="/articles/{{ article.pid }}">{{ article.name }}</a>
                        <a class="link-one" href="{{ article.url }}"><i class="fas fa-external-link-alt"></i></a>
                        <p class="justified little-space-below">{{ article.abstract }}</p>
                        <p>
                            {% for author in article.authors %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ author.0 }}">{{ author.1.given_name }} {{ author.1.family_name }}</a>
                                {% endif %}
                                
                            {% endfor %}
                        </p>
                        <i>Editeur, {{ article.date_published }}</i>
                    </div>

                    {% if forloop.first %}
                        <span id="more-article">
                    {% endif %}

                    {% if forloop.last %}
                        </span>
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            <a onclick="displayMore('more-article', 'myBtn-div-article')" class="myBtn" id="myBtn">
                <div class="title is-6 myBtn-div" id="myBtn-div-article">
                    Voir plus
                </div>
            </a>
        </section>


        <section class="data-box btn-see-more box">
            {% block person_projects %}
                <p class="title is-5">Projets</p>

                {% for project in data_person.projects %}
                
                    <div>
                        <a class="link-one title is-6" href="/projects/{{ project.pid }}">{{ project.name }}</a>
                        <a class="link-one" href="{{ project.url }}"><i class="fas fa-external-link-alt"></i></a>
                        <p class="justified little-space-below">{{ project.description }}</p>
                        <p>
                            {% for member in project.members %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ member.0 }}">{{ member.1.given_name }} {{ member.1.family_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>Durée du projet : du {{ project.founding_date }} au {{ project.dissolution_date }}</p>
                        <p>Financement : Bailleurs de fonds</p>
                    </div>

                    {% if forloop.first %}
                        <span id="more-project">
                    {% endif %}

                    {% if forloop.last %}
                        </span>
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            <a onclick="displayMore('more-project', 'myBtn-div-project')" class="myBtn" id="myBtn">
                <div class="title is-6 myBtn-div" id="myBtn-div-project">
                    Voir plus
                </div>
            </a>
        </section>


        <section class="data-box btn-see-more box">
            {% block person_datasets %}
                <p class="title is-5">Données</p>
                
                {% for dataset in data_person.datasets %}
                
                    <div>
                        <a class="link-one title is-6" href="/datasets/{{ dataset.pid }}">{{ dataset.name }}</a>
                        <a class="link-one" href="{{ dataset.url }}"><i class="fas fa-external-link-alt"></i></a>
                        <a class="link-one" href="{{ dataset.data_download.url }}"><i class="fas fa-download"></i></a>
                        <p class="justified little-space-below">{{ dataset.abstract }}</p>
                        <p> Créateurs :
                            {% for creator in dataset.creators %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ creator.0 }}">{{ creator.1.given_name }} {{ creator.1.family_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p> Mainteneur :
                            {% for maintainer in dataset.maintainers %}
                                {% if not forloop.last %}
                                    <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>,
                                {% else %}
                                    <a class="link-one" href="/persons/{{ maintainer.0 }}">{{ maintainer.1.given_name }} {{ maintainer.1.family_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p>Création : {{ dataset.created_date }}</p>
                        <p>Dernière modification : {{ dataset.modified_date }}</p>
                    </div>

                    {% if forloop.first %}
                        <span id="more-dataset">
                    {% endif %}

                    {% if forloop.last %}
                        </span>
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            <a onclick="displayMore('more-dataset', 'myBtn-div-dataset')" class="myBtn" id="myBtn">
                <div class="title is-6 myBtn-div" id="myBtn-div-dataset">
                    Voir plus
                </div>
            </a>
        </section>
        
        {% include 'main/footer.html' %}
    </body>
    
    <script>

        function displayMore(spanId, btn) {
            var moreText = document.getElementById(spanId);
            var btnText = document.getElementById(btn);

            if (moreText.style.display === "inline") {
                moreText.style.display = "none";
                btnText.innerHTML = "Voir plus";
            } else {
                moreText.style.display = "inline";
                btnText.innerHTML = "Voir moins";
            }
        }
    </script>
</html>