{% extends "person/person_profile.html" %}

{% block information %}
    {{ message }}
{% endblock %}

{% block person_left_information %}
    <p class="subtitle is-6">Email : {{ data_person.email }}</p>
    <p class="subtitle is-6">Téléphone : {{ data_person.telephone }} <a class="link-one" href="/personnes/edition/profil/telephone/{{ ark_pid }}">Modifer</a></p>
{% endblock %}

{% block person_right_information %}
    <p class="subtitle is-6">Domaines : ... <a class="link-one" href="">Modifer</a></p>
    <p class="subtitle is-6">Institution : Haute Ecole de Gestion <a class="link-one" href="">Modifer</a></p>
{% endblock %}

{% block apropos %}
    <p>Description : {{ data_person.description }} <a class="link-one" href="/personnes/edition/profil/description/{{ ark_pid }}">Modifer</a></p>
{% endblock %}

{% block articles %}
    Articles :
    {% for article in data_person.articles %}
        <p>
            <a class="link-one" href="/articles/{{ article.0 }}">{{ article.1.name }}</a>
            <form action="/personnes/edition/profil/delete-article/{{ark_pid}}" method="post">
                {% csrf_token %}
                <input type="hidden" id="articleARK" name="articleARK" value="{{ article.0 }}">
                <input type="submit" value="Supprimer">
            </form>
        </p>
    {% endfor %}
{% endblock %}