section{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    float: right;
}

.shift-button {
    margin-right: 10px;
    margin-left: 10px;
}

.subtitle {
    padding-top: 20px;
}

.delete {
    margin-top: 2px;
}