section{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.tab-content div {
    display: none;
}

.tab-content div.is-active {
    display: block;
}

.delete {
    margin-top: 3px;
}

.link-one svg {
    color: #679bff;
}

.is-gapless .shift {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.column {
    flex-basis: auto !important;
    flex-grow: 0 !important;
}

.logo {
    display: flex;
}

.edit-institution {
    align-self: flex-end;
}

.funder-form {
    display: inline;
}

.funder-form button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}