.label-login{
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

button {
    margin-top: 20px;
}

form {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}

footer {
    position: absolute;
}

.notification {
    margin-bottom: 0 !important;
}