.label-login{
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

form {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

.box-edit {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

footer {
    position: absolute;
}

.notification {
    margin-bottom: 0 !important;
}