body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.link-one {
    color: #679bff !important;
}

hr {
    color: #f5f5f5;
    margin-left: 50px;
    margin-right: 50px;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.link-one svg {
    color: #cecece;
}

.link-one svg:hover {
    color: #b5b5b5;
}