@media only screen and (max-width: 600px) {
    .orcid {
        margin-top: -260px !important;
    }
  }

.horizontal-align-left-edge {
    margin-top: 20px;
}

.breadcrumb {
    margin-left: 5%;
    margin-top: 20px;
}

.tab-content div {
    display: none;
}

.tab-content div.is-active {
    display: block;
}

.delete {
    margin-top: 2px;
}

.profile-photo {
    border-radius: 50%;
    border: 5px solid white;
    width: 200px;
    margin-bottom: -20px;
    margin-left: 3%;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.align-image-text {
    display: flex;
    flex-wrap: wrap;
}

.center-div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.right-align {
    position: absolute;
    margin-top: -10px;
    right: 7%;
    color: #679bff;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.break-logo {
    flex-basis: 100%;
    height: 0;
    text-align: center;
}

.institution-name {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.image.is-48x48 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 10px;
}

.parallax {
    background-color: #e4e6e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.data-box, .top-box, .align-box, .parallax {
    margin-left: 5%;
    margin-right: 5%;
}

.columns {
    margin-bottom: -.75rem !important;
}

.column-left-align {
    margin-left: 5%;
}

.column-right-align {
    margin-right: 5%;
}

.box:last-child {
    margin-bottom: 1.5rem;
}

.name {
    margin-top: 0px;
}

.domains {
    margin-top: 15px;
}

.icon-institution {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-right: 10px;
}

.top-box {
    margin-bottom: 24px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#more, #more-worker, #more-affiliate, #more-creator, #more-maintainer, #more-member, #more-article, #more-project, #more-project-funded, #more-dataset {
    display: none;
}

.myBtn-div {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eeeeee;
    text-align: center;
    color: #727272;
}

.myBtn-div:hover {
    background-color: #e6e6e6;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: #727272;
}

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #eeeeee;
}

  .separator:not(:empty)::before {
    margin-right: .5em;
}

  .separator:not(:empty)::after {
    margin-left: .5em;
}

  .center-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column-reverse;
}

  .space-below {
      margin-bottom: 20px;
}

.little-space-below {
    margin-bottom: 5px;
}

.little-space-above {
    margin-top: -5px;
}

.align-button-centered {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: -2px;
}

.link-one .fa-plus-circle {
    color: #cecece;
    font-size: 1.2rem;
    vertical-align: -4px;
}

a.articles {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

a.projects {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

a.datasets {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.stats .box {
    padding: 1rem;
}

.form-in-line {
    display: inline-block;
}

.orcid {
    margin-top: -27px;
    border-radius: 15px;
    padding-left: 10px;
}

.is-background-green {
    background-color: #a6ce39;
}

.is-green{
    color: #a6ce39;
}

.is-red {
    color: #E84D35;
}

.fa-orcid {
    font-size: 30px !important;
    vertical-align: -8px;
    border-radius: 50%;
    border: 1px solid #e4e6e7;
    background-color: white;
}

.keep-it-inline-parent {
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

.keep-it-inline {
    display: inline-block;
}

.police-color {
    color: #363636;
}

.align-logo-with-text {
    padding-top: 10px;
}

.align-on-logo {
    margin-top: 16px !important;
}
