.horizontal-align-left-edge {
    padding-left: 5%;
    padding-right: 5%
}

h1 {
    font-size: 26px !important;
}

.breadcrumb {
    margin-left: 5%;
    margin-top: 20px;
}

.leftbox {
    float: left; 
    width: 33%;
    height: 30%;
}

.middlebox {
    float: left; 
    width: 33%;
    height: 30%;
    padding-left: 20px;
}

.rightbox {
    float:left;
    width:33%;
    height:30%;
    padding-left: 20px;
}

.container {
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: table;
}

.tab-content div {
    display: none;
}

.tab-content div.is-active {
    display: block;
}

.delete {
    margin-top: 3px;
}

.image {
    border-radius: 50%;
    width: 200px;
    align-items: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right-align {
    position: absolute;
    top: auto;
    right: 5%;
}