section{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    float: right;
}

.shift-button {
    margin-right: 10px;
    margin-left: 10px;
}

.subtitle {
    padding-top: 20px;
}

.delete {
    margin-top: 2px;
}

.a {
    font: normal !important;
}

.has-text-left .data {
    padding-left: 15px;
}

.title-data {
    padding-top: 5px;
    padding-bottom: 5px;
}

.link-one i {
    color: #cecece;
}

.title-data a {
    font-size: 1.2rem;
}

.fa-plus-circle {
    vertical-align: -2px;
}