section{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    float: right;
}

.shift-button {
    margin-right: 10px;
    margin-left: 10px;
}

.subtitle {
    padding-top: 20px;
}

.delete {
    margin-top: 2px;
}

a {
    font: normal !important;
}

.url {
    word-break: break-all;
}

.has-text-justified .data {
    padding-left: 1em;
}

.title-data {
    padding-top: 5px;
    padding-bottom: 5px;
}

.link-one i {
    color: #cecece;
}

.title-data i {
    font-size: 1.2rem;
}

.fa-plus-circle {
    vertical-align: -2px;
}

.columns ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #679bff; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

form {
    display: inline;
}